.dropdown-container {
    display: flex;
    gap: 20px; /* Add spacing between dropdowns */
    align-items: center; /* Align dropdowns vertically */
    justify-content: flex-start; /* Align dropdowns to the left */
    margin-left: 20px; /* Move the dropdowns slightly to the right */
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 20%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 10px!important;
    padding: 10px!important;
}

.dropdownSVP {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 10px!important;
    padding: 10px!important;
}

.dropdown label {
    margin-bottom: 5px;
    font-weight: 700;
}

select {
    padding: 5px;
    font-size: 15px;
}
